
const Imap = require('imap');

// const imap =  new Imap({
//   user: 'toto@gmail.com',
//   password: 'pass',
//   host: 'imap.gmail.com',
//   port: 993,
//   tls: true,
// });

const imapConnection = new Imap({
  user: 'ad\\toto',
  password: 'pass',
  host: 'exchangemail.host',
  port: 993,
  tls: true,
  tlsOptions: {
    rejectUnauthorized: false,
  },
  debug: console.error,
  connTimeout: 30000,
  authTimeout: 15000,

});

module.exports = imapConnection;

